<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎登录</title>
    <link rel="stylesheet" href="__ROOT__/static/css/layui.css">
    <link rel="stylesheet" href="__ROOT__/static/css/main.css">
    <style>
        body,html{
            height: 100%;
        }
        body{
            background: url("__ROOT__/static/images/login_bg.jpg") no-repeat 100% 100%;
        }
    </style>
</head>
<body>
    <div class="login">
        <div class="login-box">
            <p class="login-heading">欢迎登录</p>
            <form autocomplete="off">
                <div class="layui-form-item">
                    <input type="text" name="user_name" required lay-verify="required" id="user_name" placeholder="输入姓名" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <input type="password" name="user_password" required lay-verify="required" id="user_password" placeholder="输入密码" class="layui-input">
                </div>
                <button class="login-btn" lay-submit lay-filter="formDemo" id="submit_login">确定</button>
            </form>
        </div>
    </div>
    <script src="__ROOT__/static/js/jquery-3.2.1.min.js"></script>
    <script src="__ROOT__/static/layui.all.js"></script>
    <script>
        function isEmpty(str) {
            return (str === '') ? true : false;
        }
        $('#submit_login').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();

            var user_name     = $('#user_name').val(),
                user_password = $('#user_password').val();

            if (!isEmpty(user_name) && !isEmpty(user_password)) {
                $.ajax({
                    url: "{:url('login/login')}",
                    data: {
                        user_name    : user_name,
                        user_password: user_password,
                    },
                    dataType: 'json',
                    method: 'post',
                    success: function (res) {
                        if (res.success === '1') {
                            window.location.href = "{:url('/index')}";
                        } else {
                            layer.msg(res.message);
                        }
                    }
                });
            } else if (isEmpty(user_name)) {
                layer.msg('请输入用户名');
            } else {
                layer.msg('请输入密码');
            }
        })
    </script>
</body>
</html>