<form class="layui-form" action="{:url('company/edit')}">
    <div class="layui-form-item">
        <label class="layui-form-label">企业名</label>
        <div class="layui-input-inline">
            <input type="text" name="name" value="{$company.name}" required  lay-verify="required" placeholder="请输入企业名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">注册资金</label>
        <div class="layui-input-inline">
            <input type="text" name="amount" value="{$company.amount}" required  lay-verify="required" placeholder="请输入注册资金" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">企业类型</label>
        <div class="layui-input-inline">
            <select name="type" lay-verify="required">
                <option value=""></option>
                {foreach name="type" item="i"}
                    <option value="{$i.id}" {eq name="$i.id" value="$company.type"}selected="selected"{/eq}'>{$i.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">担保业务</label>
        <div class="layui-input-inline">
            <input type="text" name="service" value="{$company.service}" required lay-verify="required" placeholder="请输入担保业务" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">公司规模</label>
        <div class="layui-input-inline">
            <select name="size" lay-verify="required">
                <option value=""></option>
                {foreach name="size" item="i"}
                    <option value="{$i.id}" {eq name="$i.id" value="$company.size"}selected="selected"{/eq}'>{$i.num}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <input type="hidden" name="company_id" value="{$company.id}">
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>