<form class="layui-form" action="{:url('service/add')}">
    <div class="layui-form-item">
        <label class="layui-form-label">选择企业</label>
        <div class="layui-input-inline">
            <select name="company_id" lay-verify="required">
                <option value=""></option>
                {foreach name="company" item="i"}
                    <option value="{$i.id}">{$i.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">担保金额</label>
        <div class="layui-input-inline">
            <input type="text" name="amount" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>