<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>vue-demo-project</title>
		<link rel="stylesheet" type="text/css" href="bootstrap.css"/>
	</head>
	<body>
	    <div id="app">
	        <div class="container">
                <table class="table tc table-striped table-hover">
                    <thead>
                    	<tr>
                    	    <th>车型</th>
                    	    <th>品牌</th>
                    	    <th>价钱</th>
                    	    <th>添加到购物车</th>
                    	</tr>
                    </thead>
                    <tbody>
                    	<tr v-for="(car, index) in cars">
                    	    <td>{{car.name}}</td>
                    	    <td>{{car.brand}}</td>
                    	    <td>{{car.price}}￥</td>
                    	    <td><a href="javascript:;" class="btn btn-primary" @click="add(car.price, index)">添加</a></td>
                    	</tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <span>你添加了</span>
                                <span v-for="car in cars">&nbsp;&nbsp;{{car.num}}台{{car.name}}&nbsp;&nbsp;</span>
                            </td>
                            <td>总价: {{total}}￥</td>
                        </tr>
                    </tfoot>
                </table>
            </div>   
	    </div>
	    <script src="vue.js" type="text/javascript" charset="utf-8"></script>
	    <script type="text/javascript">
	    	var app = new Vue({
	    	    el: '#app',
	    	    data: {
	    	        cars: [
	    	            {name: '5系', brand: '宝马', price: '500000', num: 0},
	    	            {name: 'E级', brand: '奔驰', price: '550000', num: 0},
	    	            {name: 'A6L', brand: '奥迪', price: '430000', num: 0},
	    	            {name: '发现4', brand: '路虎', price: '850000', num: 0},
	    	            {name: '卡宴', brand: '保时捷', price: '1000000', num: 0},
	    	        ],
	    	        total: 0,
	    	    },
	    	    methods: {
	    	        add: function(price, index) {
	    	            this.cars[index].num += 1;
	    	            this.total += parseInt(price);
	    	        }
	    	    }
	    	});
	    </script>
	</body>
</html>
